---
---

<center> <h1>üìç üìç Assignment: Reading Files üìç üìç</h1> </center>

---

#### `1. READ THE BIG MART SALES DATA`

---

In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\lenovo\\Desktop\\analytics vidhya\\Python\\Assignment Reading Data Files in Python\\assignment_ds_1-200323-120502\\1'

In [3]:
os.chdir('C:\\Users\\lenovo')

In [4]:
data = pd.read_csv('big_mart_sales.csv',skiprows=5)

---

***So, we are getting an error. You task is to find out the error and read the file using pandas. Here is the screenshot of the CSV file.***

![](images/csv.png)

---

In [5]:
### WRITE YOUR CODE HERE
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data.shape

(8523, 12)

In [8]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

----

####  `2. READ THE JSON DATA`

----

In [10]:
# read the json file
json_data = pd.read_json('simple.json')

ValueError: Trailing data

---

***Open the JSON file in the text editor and see what can you do to read the file.***

---

In [12]:
#### WRITE YOUR CODE HERE
json_data = pd.read_json('simple.json',lines=True)

In [15]:
json_data.head(10)

       name  age grade
0     Andew   12     A
1    Bhuvan   18     B
2   Clinton   11     A
3     Drake   12     C
4     Eisha   13     B
5    Farhan   22     C
6    Garima   11     A
7  Himanshu   19     A
8    Ishaan   10     D
9     Jason    9     B

In [17]:
json_data['name']

0       Andew
1      Bhuvan
2     Clinton
3       Drake
4       Eisha
5      Farhan
6      Garima
7    Himanshu
8      Ishaan
9       Jason
Name: name, dtype: object

In [22]:
json_data['grade'].value_counts()

A    4
B    3
C    2
D    1
Name: grade, dtype: int64